html {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background: lightgrey;
    margin: auto;
}

h1 {
    margin: 0;
    padding-top: 10px;
}

header {
    width: 100%;
    height: 100px;
    position: static;
    margin: 0;
    text-align: center;
    background: white;
    padding: 0;
    font-size: 2em;
}

main {
    width: 95%;
    height: 100%;
    margin: auto;
    background: rgb(175, 194, 202);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#newBookForm {
    visibility: hidden;
    margin: auto;
    margin-top: -65px;
    margin-bottom: 20px;
    background: whitesmoke;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    opacity: 0;
    transition: visibility 0s, opacity 1s, margin-top .5s ease-in-out;
}

#table_border {
    margin: auto;
    margin-top: 25px;
    width: 95%;
    border-radius: 15px;
    overflow: hidden;
    border: 4px solid grey
}

#bookList {
    text-align: left;
    margin: auto;
    width: 101%;
    border-spacing: 0;
}

.but {
    background: white;
    border: none;
    padding: 15px;
    width: 20%;
    margin-top: 20px;
}

tr {
    background: lightgrey;
    border: 1px solid darkgray;
    height: 10vh;
}

